
section.side-by-side {
  .left-img {
    flex-direction: row-reverse;

    .image-side {


      &.height {
        min-height: 436px;
      }
    }

    .content-side {
      align-items: flex-end;
    }
  }

  .right-img {
    .content-side {

      .fuse-block {


      }
    }
  }

  .content-side {

    max-width: 100%;
    box-sizing: border-box;

    .description {
      padding-top: 72px;
    }

    .fuse-block {
      max-width: 570px;

      p {
        margin-bottom: 25px;
      }

    }

    .button {
      svg {
        margin-left: 24px;
        @include adaptiv-width(115, 84);
        @include adaptiv-height(59, 43);
        circle{
        }
      }
    }

    .button:hover {

      svg {
        circle {
          stroke: $hover-color;
          opacity: 1;
        }
      }
    }
  }


  .description {
    margin-bottom: 15px;
  }

}

.image-side {
  h2 {
    @include adaptiv-font(120, 48);
  }

  overflow: hidden;
  max-height: 720px;
  display: flex;

  > img {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }


}


@media screen and (max-width: 778px) {
  section.side-by-side {
    .left-img {
      flex-direction: column-reverse;

      .image-side {


        &.height {
          min-height: 436px;
        }
      }

      .content-side {
        align-items: flex-end;
      }
    }

    .right-img {
      .content-side {

        .fuse-block {


        }
      }
    }

    .content-side {

      width: 100% !important;
      box-sizing: border-box;
      padding-top: 33px;

      .description {
        padding-top: 0;
      }

      .fuse-block {
        max-width: 100%;

        p {
          margin-bottom: 25px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .button {
        svg {
          margin-left: 17px;
        }
      }
    }

    .image-side {
      width: 100% !important;

      h2 {
        line-height: 62px;
      }
    }


  }
}




